html, body {
  height: 100vh;
  width: 100vw;
}

.container{
  width: 80%;
  display: flex;
  gap: 2rem;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  margin-left: 12%;
}

.box1 header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: var(--purple);
}

.countdown-time {
  width: 100%;
  margin-top: 2%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.countdown-time-item {
  margin-top: 1.18rem;
  text-align: center;
}

.countdown-time-item-text {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
}

.countdown-time-item-number {
  font-size: 80px;
  font-weight: 400;
  color: var(--black);
}

h2{
  font-weight: 350;
  color: var(--text-color);
  font-size: 18px;
}

.box2{
  margin-top: 5%;
  margin-left: 20%; 
}

button {
  margin-left: 18%;
  margin-top: 2rem;

  border: 2px solid var(--purple);
  border-radius: 10px;

  padding: 1rem 4rem;
  background: var(--purple);

  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.1rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  border: 2px solid var(--purple);
  color: var(--purple);
  background: transparent;
}

.box3{
  position: absolute;
  left: 900px;
  top: 200px;
  margin-bottom: 8%;
}

.top{
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.bottom{
  width: 100%;

  position: absolute;
  margin-top: 8%;
}